{%extends 'base.html'%}

{%block body%}

<div class="row justify-content-center mb-5 mt-4">
    <div class="col-sm-6">
        <div class="card bg-light mb-3" >
            <div class="card-header"><i class="fa-solid fa-pen-to-square fa-lg"></i>Redefinir senha</div>
            <div class="card-body">
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show mt-2 col-6" style="margin:0 auto;" role="alert">
                <strong>{{messages}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </button>
            </div>
            {% endif %}
			<h2>Redefinir senha</h2>
			<p>Verifique sua caixa de entrada e siga as instruções para redefinir sua senha. <a href="{% url 'login' %}">Voltar</a></p>
	</div>
</div>
{%endblock body%}